.border-bottom {
	border-bottom: 0.2rem solid var(--secondary-background-color);
}

.filters {
	position: fixed;
	opacity: 0;
	pointer-events: none;
}
.focused > .textbox-content {
	border: var(--b-2) solid var(--secondary-color);
	border-radius: var(--br-1);
	outline: none;
}

.filter-max-width {
	max-width: 30rem;
}
.focused > .textbox-label {
	background: var(--secondary-background-color);
}

.focused > .comment-label {
	background-color: var(--primary-color);
}

.horizontal-tabs-content {
	display: block;
}

.navbar-rp-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.navbar-rp-section > * {
	padding: 0.4rem;
}

.grid-container {
	display: grid;
	grid: repeat(12, 100px);
	margin: var(--m-0) var(--margin-auto);
}

.grid-container .nav {
	width: 12rem;
	grid-column: 1/2;
}

.grid-container .main {
	grid-column: 2/13;
	width: 100%;
}

/* Video Card */
.video-card {
	width: 30rem;
	height: 28rem;
}

.video-card-image-container {
	width: calc(100% - 2rem);
	height: 15.5rem;
}

.video-card-image {
	width: 100%;
	height: auto;
}

.video-card .cart-content {
	height: 11rem;
}
.fa-circle {
	font-size: 0.5rem;
}

.video-btn-container {
	display: none;
	width: 100%;
	height: 100%;
	z-index: var(--max-z-index);
	background: var(--secondary-background-color);
	margin: 0;
	padding: 0;
	border-bottom-left-radius: var(--br-1);
	border-bottom-right-radius: var(--br-1);
}

.video-card:hover .video-btn-container {
	display: flex;
}
.video-card:hover {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	z-index: var(--max-z-index);
}

.video-filters {
	background-color: var(--secondary-background-color);
	font-size: 1.4rem;
}

/* Playlist Card */
.playlist-basic-card {
	width: 20rem;
	height: 15rem;
}
.nav > * {
	font-size: 1.5rem;
	font-weight: bold;
}

.nav .fas,
.nav .fa-solid {
	font-size: 1.5rem;
}

.filter-chip-selected {
	color: var(--cta-color);
	background-color: var(--tertiary-color);
}

.video-iframe {
	width: 100%;
	height: 60rem;
	border-radius: var(--br-3);
}

.outline-btn-active {
	background: var(--primary-color);
	border-color: var(--cta-color);
	color: var(--cta-color);
}

/* Loader */
@keyframes shine {
	0% {
		background-color: var(--primary-color);
	}
	100% {
		background-color: var(--shadow-color);
	}
}

.video-card-image-loader {
	width: 100%;
	height: 15.5rem;
	animation: 2s shine linear infinite alternate;
}

.video-card-profile-image-loader {
	animation: 2s shine linear infinite alternate;
	background-color: var(--primary-color);
}

.video-card-title-loader,
.video-card-category-loader {
	width: 100%;
	height: 3rem;
	background-color: var(--primary-color);
	animation: 3s shine linear infinite alternate;
}

@media screen and (max-width: 1180px) {
	.grid-container .main {
		grid-column: 1/13;
	}
}
@media screen and (max-width: 870px) {
	.navbar-rp-section {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}

	.navbar-rp-section > * {
		padding: 0.5rem;
	}

	.grid-container .nav {
		width: 20rem;
	}

	.single-page {
		flex-wrap: wrap;
	}
}
.modal {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	z-index: 9;
}
.modal-background {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: var(--tertiary-color);
	opacity: 0.5;
}
.modal-content {
	position: absolute;
}

.rui-alert--container {
	top: 1;
	right: 1;
	bottom: null;
	left: null;
	z-index: 10;
}

.playlist-modal-container {
	width: 38rem;
	height: auto;
	font-size: 2rem;
}

.playlist-modal-container .input-container {
	width: 100%;
}

.overflow-hidden {
	overflow: hidden;
}

.list-card {
	height: 15rem;
}
.cart-content .horizontal {
	height: 17rem;
}
.list-card .horizontal-card-img {
	height: 12.7rem;
	width: 22rem;
}

.list-card .horizontal-card-img--container {
	height: max-content;
	width: max-content;
}

.list-card .horizontal-card-text--container {
	height: 20rem;
}

.list-card > * {
	font-size: 1.5rem;
}

.details-card-img {
	width: 35rem;
	height: auto;
}

.details-card {
	width: 37rem;
	height: auto;
}

.vertical-tabs-content {
	display: block;
}

.primary-btn {
	color: var(--tertiary-color);
}

@media screen and (max-width: 600px) {
	.search-bar {
		position: absolute;
		top: 13rem;
		right: 0;
		width: 100%;
		padding: 0 1rem 0 1rem;
	}
	.video-card {
		width: 100%;
		height: auto;
	}
	.video-card-image-container {
		height: auto;
	}
	.video-card:hover {
		border-bottom-left-radius: var(--br-2);
		border-bottom-right-radius: var(--br-2);
	}

	.main {
		margin-top: calc(2 * var(--m-10) + var(--m-5));
	}
}

@media screen and (max-width: 400px) {
	.brand-logo {
		width: 5rem;
		height: 5rem;
	}
	.brand-name {
		left: -2rem;
	}
}
